@import "base";

#ext-container {
    .simple-text-area {
        .ms-TextField-fieldGroup {
            height: 100%;
            border-color: #eaeaea;
        }

        &.invalid {
            .ms-TextField-fieldGroup {
                border-color: #da0a00;
            }
        }

        textarea {
          margin: 0;
          height: 100%;
          padding: 2px;
          line-height: 25px;
        }

        input {
            margin: 0;
            padding: 2px;
            @include TextOverflowEllipsis();
        }
    }
}
